venv
src\__pycache__
api\__pycache__
mlruns
api/.DS_Store
.DS_Store
.idea/dataSources.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/mlops-demo.iml
.idea/modules.xml
.idea/vcs.xml
